setuptools>=40.3.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
python-telegram-bot
python-telegram-bot-calendar
fastnumbers
imgkit
requests
pyquery
fake-useragent
parse
bs4
w3lib
pyppeteer
plotly==4.9.0
kaleido
